---
import Portfolio from "@/layouts/Portfolio.astro";
import { Icon } from "astro-icon/components";
import Button from "@/components/Button.astro";
---

<Portfolio title='WW - 404 Not Found'>
    <main class='flex flex-col items-center gap-4 mb-8'>
        <h1 class='text-2xl text-center md:text-4xl'>
            Whoops! Even Our Cat Can't Find That Page!
        </h1>
        <canvas id='canvas' class='flex w-screen h-auto marker:'></canvas>
        <p class='px-3 text-center'>
            <b> Meowch!</b>
            <Icon name='emojione:weary-cat-face' size={20} class='inline' /> It looks
            like you've stumbled into the same mysterious portal where my cat got
            stuck.
            <br /> This isn&#x27;t the page you were looking for, but don&#x27;t
            worry, you haven't used up one of your nine lives yet!
        </p>
        <Button href='/'>Go Back Home</Button>
    </main>
</Portfolio>

<style>
    #canvas {
        display: flex;
        width: 100dvw;
        max-width: 800px;
        height: auto;
    }
</style>

<script>
    import { Rive, Layout, Fit } from "@rive-app/canvas";

    const canvas = document.getElementById("canvas");
    const filePath = "./rive/not_found.riv";

    const r = new Rive({
        src: filePath,
        canvas: canvas,
        autoplay: true,
        stateMachines: "State Machine 1",
        onLoad: () => {
            r.layout = new Layout({
                fit: Fit.Contain,
            });
            r.resizeDrawingSurfaceToCanvas();
        },
    });
</script>
