---
import Background from "../components/Background";
import Header from "../components/Header";
---

<html lang='en' class='dark bg-black antialiased'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Wilhelm Werwein</title>
  </head>
  <body>
    <Background client:load>
      <header>
        <Header client:load>Wilhelm Werwein</Header>
      </header>
    </Background>
  </body>
</html>
