<article
    class='bg-gradient-to-b from-emerald-600 to-emerald-700 w-full rounded-xl border border-emerald-400 shadow-inner p-6 relative'>
    <div
        class="absolute inset-0 bg-[url('/assets/noise.webp')] scale-[1.2] bg-cover bg-multiply bg-center"
        style='opacity: 0.1; background-size: 30%;'>
    </div>
    <p>
        <slot />
    </p>
</article>
