---
import logo from "../assets/logo/logo.webp";
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
---

<header class='h-20 flex items-center justify-between gap-4 px-8 pt-8'>
    <Link href='/' title='Home'>
        <img
            src={logo.src}
            alt='logo'
            loading='eager'
            class='w-16 h-auto bg-emerald-600 rounded-full border border-emerald-200 hover:bg-teal-600 hover:border-teal-300 transition-all'
        />
    </Link>
    <nav class='flex gap-4 items-center'>
        <Link href='/downloads'>Downloads</Link>
        <Link
            href='https://github.com/willywdev'
            target='_blank'
            tooltip='GitHub Portfolio'
            title='GitHub'
            class='rounded-full bg-neutral-200 p-0.5 hover:bg-emerald-300'>
            <Icon
                name='mdi:github'
                size={26}
                color='#000'
                aria-label='Github'
            />
        </Link>
    </nav>
</header>
