---
import Button from "./Button.astro";
---

<header class='h-20 flex items-center justify-center gap-4 px-4 pt-8'>
    <img src='./assets/logo/logo.svg' alt='logo' class='w-16 h-auto' />
    <nav class='flex gap-4'>
        <Button href='/downloads'>Downloads</Button>
        <Button>About me</Button>
    </nav>
</header>
