<div
    class='flex flex-col items-center justify-center overflow-hidden rounded-md'>
    <h1
        class='md:text-7xl text-4xl lg:text-9xl font-bold text-center text-white relative z-20'>
        Wilhelm Werwein
    </h1>
    <div class='w-[40rem] h-40 relative'>
        <div
            class='absolute inset-x-20 top-0 bg-gradient-to-r from-transparent via-emerald-400 to-transparent h-[4px] w-3/4 blur-sm'>
        </div>
        <div
            class='absolute inset-x-20 top-0 bg-gradient-to-r from-transparent via-teal-500 to-transparent h-[2px] w-3/4'>
        </div>
    </div>
</div>
