---
const { href, target, class: additionalClasses, tooltip } = Astro.props;
const attributes = tooltip
    ? {
          "data-tooltip-target": "tooltip-bottom",
          "data-tooltip-placement": "bottom",
      }
    : "";
---

<a
    class={`hover:text-emerald-300 hover:animate-jump hover:animate-ease-in-out active:text-emerald-300 active:animate-jump active:animate-ease-in-out transition-colors ${additionalClasses}`}
    href={href}
    target={target}
    id='link'
    {...attributes}>
    <slot />
</a>
{
    tooltip && (
        <div
            id='tooltip-bottom'
            role='tooltip'
            class='absolute z-10 invisible inline-block px-2 py-2 text-sm font-medium text-white bg-stone-900 border border-emerald-500 rounded-xl opacity-0 tooltip'>
            {tooltip}
        </div>
    )
}
