---
import Card2 from "./Card2.astro";
import placeholder from "../assets/projects/placeholder.webp";
---

<section class='flex flex-col items-center gap-4 pt-6 px-4'>
    <h2 class='text-center text-xl bold'>Projects</h2>
    <Card2 title='Project 1' image={placeholder} />
</section>
