---
import { TracingBeam } from "@/components/ui/tracing-beam";
import Background from "@components/Background";
import Header from "@components/Header.astro";
import "@css/font.css";
const { title } = Astro.props;
---

<html lang='en' class='dark bg-black text-neutral-50 antialiased'>
    <head>
        <meta charset='utf-8' />
        <link
            rel='apple-touch-icon'
            sizes='180x180'
            href='/assets/favicon/apple-touch-icon.png'
        />
        <link
            rel='icon'
            type='image/png'
            sizes='32x32'
            href='/assets/favicon/favicon-32x32.png'
        />
        <link
            rel='icon'
            type='image/png'
            sizes='16x16'
            href='/assets/favicon/favicon-16x16.png'
        />
        <link rel='manifest' href='/assets/public/site.webmanifest' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class='font-sans scroll-smooth font-medium'>
        <Background client:load />
        <TracingBeam client:load>
            <div class='h-[calc(100vh-1.5rem)]'>
                <Header />
                <main class='mt-20 flex justify-center items-center'>
                    <slot />
                </main>
            </div>
            <div
                class='bg-zinc-900 w-[calc(100vw-1rem)] h-screen mx-auto rounded-xl'>
            </div>
            <script src='./flowbite_loader.js'></script>
        </TracingBeam>
    </body>
</html>
