---
import Background from "@/components/Background.astro";
import Header from "@components/Header.astro";
import Head from "./Head.astro";

const { title } = Astro.props;
---

<Head title={title}>
    <body class='font-sans scroll-smooth font-medium'></body>

    <Background />
    <section class='h-dvh max-h-dvh overflow-clip relative md:px-64'>
        <Header />
        <main class='mt-12 flex justify-center items-center overflow-hidden'>
            <slot />
        </main>
    </section>
    <section
        class='h-dvh max-h-dvh overflow-clip bg-slate-700 relative shadow-inner'
        id='second-section'>
        <div
            class="absolute inset-0 bg-[url('/assets/noise.webp')] scale-[1.2] bg-cover bg-multiply bg-center"
            style='opacity: 0.05; background-size: 30%;'>
        </div>
    </section>
</Head>
